In [1]:
!python --version

Python 3.11.3

# Data manipulation challenge

In [2]:
import pandas as pd

## Part 1: Initial load of the data
Loaded the data only for sheet `Master Data Oficial` and for columns `Nombre visible Agente`, `AGENTE (OFEI)`, `CENTRAL (dDEC, dSEGDES, dPRU…)` and  `Tipo de central (Hidro, Termo, Filo, Menor)`.

In [3]:
datos_maestros_path = '../Data/Datos Maestros.xlsx'
datos_maestros_sheet = 'Master Data Oficial'
column_names = ['Nombre visible Agente', 'AGENTE (OFEI)', 'CENTRAL (dDEC, dSEGDES, dPRU…)',
                'Tipo de central (Hidro, Termo, Filo, Menor)']

datos_maestros_df = pd.read_excel(datos_maestros_path, sheet_name=datos_maestros_sheet,
                                  usecols=column_names)

## Part 2: Understanding the data
Getting information from the recently imported data.

In [4]:
# Define function to get quick data about dataframe
def get_df_info(df: pd.DataFrame):
  # Display the first few rows of the DataFrame
  print("First few rows of the DataFrame:")
  print(df.head())

  # Get the number of rows and columns
  print("\nNumber of rows and columns:")
  print(f"Rows: {df.shape[0]}, Columns: {df.shape[1]}")
  
  # Get column data types
  print("\nColumn data types:")
  print(df.dtypes)
  
  # Get basic statistics for numeric columns
  print("\nBasic statistics for numeric columns:")
  print(df.describe())
  
  # Get the number of non-null values in each column
  print("\nNumber of non-null values in each column:")
  print(df.count())
  
  # Get the number of unique values in each column
  print("\nNumber of unique values in each column:")
  print(df.nunique())

In [5]:
get_df_info(datos_maestros_df)

First few rows of the DataFrame:
  Nombre visible Agente        AGENTE (OFEI) CENTRAL (dDEC, dSEGDES, dPRU…)
0           RIO PIEDRAS  ENERGIA RIO PIEDRAS                       MAGUAFRE  \
1            ALEJANDRÍA       PCH ALEJANDRÍA                   M_ALEJANDRIA
2                  EPSA       EPSA(PACIFICO)                          ALBAN
3                  EPSA       EPSA(PACIFICO)                          ALBAN
4                  EPSA       EPSA(PACIFICO)                          ALBAN

  Tipo de central (Hidro, Termo, Filo, Menor)
0                                           M
1                                           M
2                                           H
3                                           H
4                                           H

Number of rows and columns:
Rows: 303, Columns: 4

Column data types:
Nombre visible Agente                          object
AGENTE (OFEI)                                  object
CENTRAL (dDEC, dSEGDES, dPRU…)                 object
Tipo de central (Hidro, Termo, Filo, Menor)    object
dtype: object

Basic statistics for numeric columns:
       Nombre visible Agente AGENTE (OFEI) CENTRAL (dDEC, dSEGDES, dPRU…)
count                    303           303                            303  \
unique                    52            53                            199
top                      EPM         EEPPM                        GUATRON
freq                      72            72                             11

       Tipo de central (Hidro, Termo, Filo, Menor)
count                                          303
unique                                           4
top                                              M
freq                                           159

Number of non-null values in each column:
Nombre visible Agente                          303
AGENTE (OFEI)                                  303
CENTRAL (dDEC, dSEGDES, dPRU…)                 303
Tipo de central (Hidro, Termo, Filo, Menor)    303
dtype: int64

Number of unique values in each column:
Nombre visible Agente                           52
AGENTE (OFEI)                                   53
CENTRAL (dDEC, dSEGDES, dPRU…)                 199
Tipo de central (Hidro, Termo, Filo, Menor)      4
dtype: int64

Getting the unique values for columns `AGENTE (OFEI)` and `Nombre visible Agente` to check visually that the values "EMGESA S.A." and "EMGESA" exist on these columns

In [6]:
a = list(datos_maestros_df['AGENTE (OFEI)'].unique())
b = list(datos_maestros_df['Nombre visible Agente'].unique())

print(a)
print(b)

['ENERGIA RIO PIEDRAS', 'PCH ALEJANDRÍA', 'EPSA(PACIFICO)', 'EEPPM', 'ISAGEN', 'VATIA S.A.', 'CELSIA', 'EMGESA S.A.', 'ESPROD SAS ESP', 'EMSA(META)', 'GECELCA S.A. E.S.P', 'CASCADA', 'MULCALARCA', 'EEP(PEREIRA)', 'CEMEX ENERGY', 'HIDRALPOR SAS ESP', 'RIOEN SAS  E.S.P.', 'AES CHIVOR', 'C.T. EL MORRO 2', 'EMEE(POPAYAN)', 'ENERGETICA', 'PROENCA ', 'ESSA(SANTANDER)', 'BIOGAS DOÑA JUANA', 'ENREVSA E.S.P.', 'CH EL EDEN', 'ZF CELSIA', 'DICELER', 'ELECTROHUILA', 'CEDENAR', 'ENERCO', 'GENERPUTUMAYO', 'IAC ENERGY', 'HZ ENERGY', 'GEDEN SAS', 'GENERADORA LUZMA', 'RISARALDA ENERGIA', 'GENSA', 'GELEC', 'PROELECTRICA RESTRUC', 'SURENERGY', 'CETSA(TULUA)', 'GEC S.A. E.S.P.', 'TERMOTASAJERO', 'TERMOTASAJERO DOS', 'GENERSA', 'TERMOCANDELARIA INT', 'TERMOEMCALI', 'TERMOPIEDRAS S.A.', 'TERMOVALLE', 'TERMOYOPAL', 'URRA', 'GENERAMOS ENERGIA']
['RIO PIEDRAS', 'ALEJANDRÍA', 'EPSA', 'EPM', 'ISAGEN', 'VATIA', 'CELSIA', 'EMGESA', 'ESPROD', 'EMSA', 'GECELCA', 'LA CASCADA', 'MULCALARCA', 'EEP', 'CEMEX', 'HIDRALPOR', 'RIOEN', 'CHIVOR', 'EL MORRO', 'EMEE', 'ENERGETICA', 'PROENCA', 'ESSA', 'DOÑA JUANA', 'ENREVSA', 'EL EDEN', 'DICELER', 'ELECTROHUILA', 'CEDENAR', 'ENERCO', 'PUTUMAYO', 'IAC ENERGY', 'HZ ENERGY', 'GEDEN', 'LUZMA', 'RISARALDA', 'GENSA', 'GELEC', 'PROELECTRICA', 'SURENERGY', 'CETSA', 'GEC', 'TASAJERO', 'TASAJERO 2', 'GENERSA', 'TERMOCANDELARIA', 'TERMOEMCALI', 'TERMOPIEDRAS', 'TERMOVALLE', 'TERMOYOPAL', 'URRA', 'GENERAMOS ENERGIA']

## Part 3: Obtain records belonging to agent EMGESA or EMGESA S.A. and Central Type is H or T

In [7]:
# Create the conditions to filter the DataFrame
filter_condition = ((datos_maestros_df['AGENTE (OFEI)'] == 'EMGESA S.A.') |
                    (datos_maestros_df['Nombre visible Agente'] == 'EMGESA')) \
                   & (datos_maestros_df['Tipo de central (Hidro, Termo, Filo, Menor)'].isin(['H','T']))

# Apply filter condition
datos_maestros_df = datos_maestros_df[filter_condition]

In [8]:
# Quickly inspect the filtered DataFrame
datos_maestros_df.head(20)

,Nombre visible Agente,AGENTE (OFEI),"CENTRAL (dDEC, dSEGDES, dPRU…)","Tipo de central (Hidro, Termo, Filo, Menor)"
32,EMGESA,EMGESA S.A.,BETANIA,H
33,EMGESA,EMGESA S.A.,BETANIA,H
34,EMGESA,EMGESA S.A.,BETANIA,H
49,EMGESA,EMGESA S.A.,CTGEMG1,T
50,EMGESA,EMGESA S.A.,CTGEMG2,T
51,EMGESA,EMGESA S.A.,CTGEMG3,T
90,EMGESA,EMGESA S.A.,ELQUIMBO,H
91,EMGESA,EMGESA S.A.,ELQUIMBO,H
120,EMGESA,EMGESA S.A.,GUAVIO,H
121,EMGESA,EMGESA S.A.,GUAVIO,H
122,EMGESA,EMGESA S.A.,GUAVIO,H
123,EMGESA,EMGESA S.A.,GUAVIO,H
124,EMGESA,EMGESA S.A.,GUAVIO,H
148,EMGESA,EMGESA S.A.,PAGUA,H
149,EMGESA,EMGESA S.A.,PAGUA,H
150,EMGESA,EMGESA S.A.,PAGUA,H
188,EMGESA,EMGESA S.A.,PAGUA,H
189,EMGESA,EMGESA S.A.,PAGUA,H
190,EMGESA,EMGESA S.A.,PAGUA,H
299,EMGESA,EMGESA S.A.,ZIPAEMG2,T

## Part 4: Load file `d1204.TXT` and inspect the data

In [9]:
# Loading the data on file d1204.TXT
d1204_path = '../Data/d1204.TXT'

d1204_df = pd.read_csv(d1204_path, header=None, quotechar='"', encoding='latin-1')

In [10]:
# Inspect the DataFrame
get_df_info(d1204_df)

First few rows of the DataFrame:
            0   1   2   3   4   5   6   7   8   9   ...  15  16  17  18  19
0  AG_ARGOSCTG   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0  \
1  AG_ARGOSYUM   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0
2   AG_ELCAIRO   0   0   0   1   3   3   3   3   3  ...   3   0   0   0   0
3   AG_REFICAR   9   9   9   9   9   9   9   9   9  ...   9   9   9   9   9
4    AG_UNIBOL   1   1   1   1   1   1   1   1   1  ...   1   1   1   1   1

   20  21  22  23  24
0   0   0   0   0   0
1   0   0   0   0   0
2   1   3   3   3   3
3   9   9   9   9   9
4   1   1   1   1   1

[5 rows x 25 columns]

Number of rows and columns:
Rows: 217, Columns: 25

Column data types:
0     object
1      int64
2      int64
3      int64
4      int64
5      int64
6      int64
7      int64
8      int64
9      int64
10     int64
11     int64
12     int64
13     int64
14     int64
15     int64
16     int64
17     int64
18     int64
19     int64
20     int64
21     int64
22     int64
23     int64
24     int64
dtype: object

Basic statistics for numeric columns:
                1            2            3            4            5
count   217.000000   217.000000   217.000000   217.000000   217.000000  \
mean     58.211982    55.728111    54.299539    53.967742    56.368664
std     438.725565   421.156174   411.010349   410.572775   428.896638
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       1.000000     1.000000     1.000000     1.000000     1.000000
75%      10.000000     9.000000     9.000000     9.000000     9.000000
max    6314.000000  6044.000000  5889.000000  5853.000000  6114.000000

                6            7            8            9            10  ...
count   217.000000   217.000000   217.000000   217.000000   217.000000  ...  \
mean     59.829493    62.064516    66.723502    71.912442    74.990783  ...
std     453.817249   469.423184   503.139373   540.598345   563.275227  ...
min       0.000000     0.000000     0.000000     0.000000     0.000000  ...
25%       0.000000     0.000000     0.000000     0.000000     0.000000  ...
50%       1.000000     1.000000     1.000000     1.000000     1.000000  ...
75%      10.000000    10.000000    12.000000    12.000000    13.000000  ...
max    6489.000000  6732.000000  7237.000000  7800.000000  8134.000000  ...

                15           16           17           18           19
count   217.000000   217.000000   217.000000   217.000000   217.000000  \
mean     80.889401    80.354839    78.921659    78.714286    89.285714
std     607.749832   603.801068   593.248057   591.530032   670.239504
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       1.000000     1.000000     1.000000     1.000000     1.000000
75%      12.000000    13.000000    14.000000    15.000000    15.000000
max    8775.000000  8716.000000  8560.000000  8538.000000  9685.000000

                20           21           22           23           24
count   217.000000   217.000000   217.000000   217.000000   217.000000
mean     89.912442    87.239631    78.732719    71.350230    64.838710
std     675.363377   654.624078   591.159464   537.059412   490.049097
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       1.000000     1.000000     1.000000     1.000000     1.000000
75%      14.000000    13.000000    13.000000    11.000000    10.000000
max    9753.000000  9463.000000  8540.000000  7739.000000  7033.000000

[8 rows x 24 columns]

Number of non-null values in each column:
0     217
1     217
2     217
3     217
4     217
5     217
6     217
7     217
8     217
9     217
10    217
11    217
12    217
13    217
14    217
15    217
16    217
17    217
18    217
19    217
20    217
21    217
22    217
23    217
24    217
dtype: int64

Number of unique values in each column:
0     217
1      45
2      43
3      43
4      43
5      44
6      45
7      46
8      48
9      51
10     52
11     52
12     53
13     52
14     52
15     52
16     52
17     52
18     53
19     54
20     54
21     54
22     53
23     49
24     48
dtype: int64

In [11]:
# By inspection, we can see that the first column contains the central names
d1204_df[0]

0      AG_ARGOSCTG
1      AG_ARGOSYUM
2       AG_ELCAIRO
3       AG_REFICAR
4        AG_UNIBOL
          ...
212       ZIPAEMG2
213       ZIPAEMG3
214       ZIPAEMG4
215       ZIPAEMG5
216          Total
Name: 0, Length: 217, dtype: object

## Part 5: Merging the two dataframes
Merging the two dataframes by Central name and inspect the resulting DataFrame.

In [12]:
# Merge the two dataframes. The left_on and right_on parameters specify the columns to join on.
merged_df = pd.merge(datos_maestros_df, d1204_df, how='inner', left_on='CENTRAL (dDEC, dSEGDES, dPRU…)', right_on=0)

In [13]:
# Inspect the merged DataFrame
get_df_info(merged_df)

First few rows of the DataFrame:
  Nombre visible Agente AGENTE (OFEI) CENTRAL (dDEC, dSEGDES, dPRU…)
0                EMGESA   EMGESA S.A.                        BETANIA  \
1                EMGESA   EMGESA S.A.                        BETANIA
2                EMGESA   EMGESA S.A.                        BETANIA
3                EMGESA   EMGESA S.A.                        CTGEMG1
4                EMGESA   EMGESA S.A.                        CTGEMG2

  Tipo de central (Hidro, Termo, Filo, Menor)        0    1    2    3    4
0                                           H  BETANIA  364  364  364  364  \
1                                           H  BETANIA  364  364  364  364
2                                           H  BETANIA  364  364  364  364
3                                           T  CTGEMG1    0    0    0    0
4                                           T  CTGEMG2    0    0    0    0

     5  ...   15   16   17   18   19   20   21   22   23   24
0  364  ...  364  364  364  364  364  364  364  364  364  364
1  364  ...  364  364  364  364  364  364  364  364  364  364
2  364  ...  364  364  364  364  364  364  364  364  364  364
3    0  ...    0    0    0    0    0    0    0    0    0    0
4    0  ...    0    0    0    0    0    0    0    0    0    0

[5 rows x 29 columns]

Number of rows and columns:
Rows: 23, Columns: 29

Column data types:
Nombre visible Agente                          object
AGENTE (OFEI)                                  object
CENTRAL (dDEC, dSEGDES, dPRU…)                 object
Tipo de central (Hidro, Termo, Filo, Menor)    object
0                                              object
1                                               int64
2                                               int64
3                                               int64
4                                               int64
5                                               int64
6                                               int64
7                                               int64
8                                               int64
9                                               int64
10                                              int64
11                                              int64
12                                              int64
13                                              int64
14                                              int64
15                                              int64
16                                              int64
17                                              int64
18                                              int64
19                                              int64
20                                              int64
21                                              int64
22                                              int64
23                                              int64
24                                              int64
dtype: object

Basic statistics for numeric columns:
               1           2           3           4           5           6
count   23.000000   23.000000   23.000000   23.000000   23.000000   23.000000  \
mean   211.391304  211.391304  211.391304  211.391304  211.391304  211.391304
std    264.931679  264.931679  264.931679  264.931679  264.931679  264.931679
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
50%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
75%    482.000000  482.000000  482.000000  482.000000  482.000000  482.000000
max    600.000000  600.000000  600.000000  600.000000  600.000000  600.000000

               7           8           9           10  ...          15
count   23.000000   23.000000   23.000000   23.000000  ...   23.000000  \
mean   211.391304  211.391304  211.391304  243.130435  ...  250.521739
std    264.931679  264.931679  264.931679  244.849918  ...  242.189984
min      0.000000    0.000000    0.000000    0.000000  ...    0.000000
25%      0.000000    0.000000    0.000000    0.000000  ...    0.000000
50%      0.000000    0.000000    0.000000  146.000000  ...  180.000000
75%    482.000000  482.000000  482.000000  482.000000  ...  482.000000
max    600.000000  600.000000  600.000000  600.000000  ...  600.000000

               16          17          18          19           20
count   23.000000   23.000000   23.000000   23.000000    23.000000  \
mean   250.521739  237.478261  237.478261  428.130435   429.217391
std    242.189984  247.425998  247.425998  388.831736   390.496416
min      0.000000    0.000000    0.000000    0.000000     0.000000
25%      0.000000    0.000000    0.000000    0.000000     0.000000
50%    180.000000  120.000000  120.000000  364.000000   364.000000
75%    482.000000  482.000000  482.000000  600.000000   600.000000
max    600.000000  600.000000  600.000000  997.000000  1002.000000

               21          22          23          24
count   23.000000   23.000000   23.000000   23.000000
mean   380.956522  241.826087  211.391304  211.391304
std    321.643292  245.403314  264.931679  264.931679
min      0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000
50%    364.000000  140.000000    0.000000    0.000000
75%    600.000000  482.000000  482.000000  482.000000
max    780.000000  600.000000  600.000000  600.000000

[8 rows x 24 columns]

Number of non-null values in each column:
Nombre visible Agente                          23
AGENTE (OFEI)                                  23
CENTRAL (dDEC, dSEGDES, dPRU…)                 23
Tipo de central (Hidro, Termo, Filo, Menor)    23
0                                              23
1                                              23
2                                              23
3                                              23
4                                              23
5                                              23
6                                              23
7                                              23
8                                              23
9                                              23
10                                             23
11                                             23
12                                             23
13                                             23
14                                             23
15                                             23
16                                             23
17                                             23
18                                             23
19                                             23
20                                             23
21                                             23
22                                             23
23                                             23
24                                             23
dtype: int64

Number of unique values in each column:
Nombre visible Agente                           1
AGENTE (OFEI)                                   1
CENTRAL (dDEC, dSEGDES, dPRU…)                 11
Tipo de central (Hidro, Termo, Filo, Menor)     2
0                                              11
1                                               4
2                                               4
3                                               4
4                                               4
5                                               4
6                                               4
7                                               4
8                                               4
9                                               4
10                                              5
11                                              5
12                                              5
13                                              5
14                                              5
15                                              5
16                                              5
17                                              5
18                                              5
19                                              5
20                                              5
21                                              5
22                                              5
23                                              4
24                                              4
dtype: int64

In [14]:
# Visually inspect the merged DataFrame
display(merged_df)

,Nombre visible Agente,AGENTE (OFEI),"CENTRAL (dDEC, dSEGDES, dPRU…)","Tipo de central (Hidro, Termo, Filo, Menor)",0,1,2,3,4,5,...,15,16,17,18,19,20,21,22,23,24
0,EMGESA,EMGESA S.A.,BETANIA,H,BETANIA,364,364,364,364,364,...,364,364,364,364,364,364,364,364,364,364
1,EMGESA,EMGESA S.A.,BETANIA,H,BETANIA,364,364,364,364,364,...,364,364,364,364,364,364,364,364,364,364
2,EMGESA,EMGESA S.A.,BETANIA,H,BETANIA,364,364,364,364,364,...,364,364,364,364,364,364,364,364,364,364
3,EMGESA,EMGESA S.A.,CTGEMG1,T,CTGEMG1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,EMGESA,EMGESA S.A.,CTGEMG2,T,CTGEMG2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,EMGESA,EMGESA S.A.,CTGEMG3,T,CTGEMG3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,EMGESA,EMGESA S.A.,ELQUIMBO,H,ELQUIMBO,85,85,85,85,85,...,85,85,85,85,85,85,85,85,85,85
7,EMGESA,EMGESA S.A.,ELQUIMBO,H,ELQUIMBO,85,85,85,85,85,...,85,85,85,85,85,85,85,85,85,85
8,EMGESA,EMGESA S.A.,GUAVIO,H,GUAVIO,0,0,0,0,0,...,180,180,120,120,997,1002,780,140,0,0
9,EMGESA,EMGESA S.A.,GUAVIO,H,GUAVIO,0,0,0,0,0,...,180,180,120,120,997,1002,780,140,0,0
10,EMGESA,EMGESA S.A.,GUAVIO,H,GUAVIO,0,0,0,0,0,...,180,180,120,120,997,1002,780,140,0,0
11,EMGESA,EMGESA S.A.,GUAVIO,H,GUAVIO,0,0,0,0,0,...,180,180,120,120,997,1002,780,140,0,0
12,EMGESA,EMGESA S.A.,GUAVIO,H,GUAVIO,0,0,0,0,0,...,180,180,120,120,997,1002,780,140,0,0
13,EMGESA,EMGESA S.A.,PAGUA,H,PAGUA,600,600,600,600,600,...,600,600,600,600,600,600,600,600,600,600
14,EMGESA,EMGESA S.A.,PAGUA,H,PAGUA,600,600,600,600,600,...,600,600,600,600,600,600,600,600,600,600
15,EMGESA,EMGESA S.A.,PAGUA,H,PAGUA,600,600,600,600,600,...,600,600,600,600,600,600,600,600,600,600
16,EMGESA,EMGESA S.A.,PAGUA,H,PAGUA,600,600,600,600,600,...,600,600,600,600,600,600,600,600,600,600
17,EMGESA,EMGESA S.A.,PAGUA,H,PAGUA,600,600,600,600,600,...,600,600,600,600,600,600,600,600,600,600
18,EMGESA,EMGESA S.A.,PAGUA,H,PAGUA,600,600,600,600,600,...,600,600,600,600,600,600,600,600,600,600
19,EMGESA,EMGESA S.A.,ZIPAEMG2,T,ZIPAEMG2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,EMGESA,EMGESA S.A.,ZIPAEMG3,T,ZIPAEMG3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,EMGESA,EMGESA S.A.,ZIPAEMG4,T,ZIPAEMG4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,EMGESA,EMGESA S.A.,ZIPAEMG5,T,ZIPAEMG5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
# Checking the data types of the columns
merged_df.dtypes

Nombre visible Agente                          object
AGENTE (OFEI)                                  object
CENTRAL (dDEC, dSEGDES, dPRU…)                 object
Tipo de central (Hidro, Termo, Filo, Menor)    object
0                                              object
1                                               int64
2                                               int64
3                                               int64
4                                               int64
5                                               int64
6                                               int64
7                                               int64
8                                               int64
9                                               int64
10                                              int64
11                                              int64
12                                              int64
13                                              int64
14                                              int64
15                                              int64
16                                              int64
17                                              int64
18                                              int64
19                                              int64
20                                              int64
21                                              int64
22                                              int64
23                                              int64
24                                              int64
dtype: object

## Part 6: Compute the horizontal sum on the merged DataFrame and filter where the rows where the horizontal sum is greater than zero
I also inspected the data after the slicing.

In [16]:
# Create list of column names
column_names = [i for i in range(1, 25)]

# Compute the horizontal sum of the columns
merged_df["Horizontal sum"] = merged_df[column_names].sum(axis=1)

# Subset the DataFrame where "Horizontal sum" is greater than zero
merged_df = merged_df[merged_df["Horizontal sum"] > 0]

In [17]:
merged_df.shape[0]

16

In [18]:
merged_df.head()

,Nombre visible Agente,AGENTE (OFEI),"CENTRAL (dDEC, dSEGDES, dPRU…)","Tipo de central (Hidro, Termo, Filo, Menor)",0,1,2,3,4,5,...,16,17,18,19,20,21,22,23,24,Horizontal sum
0,EMGESA,EMGESA S.A.,BETANIA,H,BETANIA,364,364,364,364,364,...,364,364,364,364,364,364,364,364,364,8736
1,EMGESA,EMGESA S.A.,BETANIA,H,BETANIA,364,364,364,364,364,...,364,364,364,364,364,364,364,364,364,8736
2,EMGESA,EMGESA S.A.,BETANIA,H,BETANIA,364,364,364,364,364,...,364,364,364,364,364,364,364,364,364,8736
6,EMGESA,EMGESA S.A.,ELQUIMBO,H,ELQUIMBO,85,85,85,85,85,...,85,85,85,85,85,85,85,85,85,2040
7,EMGESA,EMGESA S.A.,ELQUIMBO,H,ELQUIMBO,85,85,85,85,85,...,85,85,85,85,85,85,85,85,85,2040

In [19]:
# Get number of rows on merged_df
merged_df.shape[0]

16

## Part 7: Save the result in a CSV file

In [20]:
# Reset index of merged_df
merged_df.reset_index(drop=True, inplace=True)

In [21]:
merged_df.head()

,Nombre visible Agente,AGENTE (OFEI),"CENTRAL (dDEC, dSEGDES, dPRU…)","Tipo de central (Hidro, Termo, Filo, Menor)",0,1,2,3,4,5,...,16,17,18,19,20,21,22,23,24,Horizontal sum
0,EMGESA,EMGESA S.A.,BETANIA,H,BETANIA,364,364,364,364,364,...,364,364,364,364,364,364,364,364,364,8736
1,EMGESA,EMGESA S.A.,BETANIA,H,BETANIA,364,364,364,364,364,...,364,364,364,364,364,364,364,364,364,8736
2,EMGESA,EMGESA S.A.,BETANIA,H,BETANIA,364,364,364,364,364,...,364,364,364,364,364,364,364,364,364,8736
3,EMGESA,EMGESA S.A.,ELQUIMBO,H,ELQUIMBO,85,85,85,85,85,...,85,85,85,85,85,85,85,85,85,2040
4,EMGESA,EMGESA S.A.,ELQUIMBO,H,ELQUIMBO,85,85,85,85,85,...,85,85,85,85,85,85,85,85,85,2040

In [22]:
merged_df.shape

(16, 30)

In [23]:
# Save merged_df to a CSV file
merged_df.to_csv('../Solution_Data/data_manipulation_merged_df.csv', index=False)