# SQL Challenge

For this challenge I used [https://sqliteonline.com/](https://sqliteonline.com/) using the MS SQL version.

The SQL version that can be run on `sqliteonline` is on [SQLTest.sql](./SQLTest.sql) on this same folder.



## Part 1: Table creation and data insert
To insert the data I ran the following SQL queries:
```sql
CREATE TABLE EMPLEADO (
ID INT,
NOMBRE VARCHAR(50),
APELLIDO VARCHAR(59),
SEXO CHAR(1),
FECHA_NACIMIENTO DATE,
SALARIO DECIMAL(10,2)
);

CREATE TABLE VACACIONES(
ID INT,
ID_EMP INT,
FECHA_INICIO DATE,
FECHA_FIN DATE,
ESTADO CHAR(1),
CANTIDAD_DIAS INT
);

/*EN ESTA TABLA SE ALMACENA LA INFORMACIÃ“N BASICA DE LOS
EMPLEADOS*/
INSERT INTO EMPLEADO VALUES (1,'JUAN','PELAEZ','M','1985-01-29',3500000);
INSERT INTO EMPLEADO VALUES
(2,'ANDRES','GARCIA','M','1975-05-22',5500000);
INSERT INTO EMPLEADO VALUES (3,'LAURA','PEREZ','F','1991-09-10',2500000);
INSERT INTO EMPLEADO VALUES (4,'PEPE','MARTINEZ','M','1987-12-01',3800000);
INSERT INTO EMPLEADO VALUES (5,'MARGARITA','CORRALES','F','1990-07-02',4500000);

/*EN ESTA TABLA SE ALMACENA LAS SOLCITUDES DE VACACIONES DE CADA EMPLEADO*/
INSERT INTO VACACIONES VALUES
(1,1,'2019-07-01','2019-07-15','A',14);
INSERT INTO VACACIONES VALUES
(2,2,'2019-03-01','2019-03-15','R',14);
INSERT INTO VACACIONES VALUES
(3,2,'2019-04-01','2019-04-15','A',14);
INSERT INTO VACACIONES VALUES
(4,2,'2019-08-14','2019-08-20','A',6);
INSERT INTO VACACIONES VALUES
(5,3,'2019-08-20','2019-08-25','A',5);
INSERT INTO VACACIONES VALUES
(6,3,'2019-12-20','2019-12-31','A',11);
```

## Part 2: Select NOMBRE, APELLIDO, SALARIO for all employees

### Executed query
```sql
select NOMBRE, APELLIDO, SALARIO FROM EMPLEADO;
```

### Result
<img src="./images/SQLTest_part2.png" alt="" />

## Part 3: Select NOMBRE, APELLIDO, SALARIO for all employees earning more than 4 million pesos

### Executed query
```sql
select NOMBRE, APELLIDO, SALARIO
FROM EMPLEADO
WHERE SALARIO > 4000000;
```

### Result
<img src="./images/SQLTest_part3.png" alt="" />

## Part 4: Count employees by sex

### Executed query
```sql
SELECT SEXO, COUNT(SEXO) AS [CONTEO POR SEXO]
FROM EMPLEADO
GROUP BY SEXO;
```

### Result
<img src="./images/SQLTest_part4.png" alt="" />

## Part 5: Select employees without any vacation request

### Executed query
```sql
SELECT NOMBRE, APELLIDO
FROM EMPLEADO
WHERE ID NOT IN (SELECT DISTINCT ID_EMP FROM VACACIONES);
```

### Result
<img src="./images/SQLTest_part5.png" alt="" />

## Part 6: Select employees with more than one vacation request and show the number of requests

### Executed query
```sql
WITH CANTIDAD_VACACIONES AS (
 SELECT DISTINCT e.NOMBRE, e.APELLIDO, COUNT(v.ID_EMP) [CONTEO SOLICITUD VACACIONES]
  FROM VACACIONES v LEFT JOIN EMPLEADO e
  ON v.ID_EMP = e.ID
  GROUP BY e.NOMBRE, e.APELLIDO
)
SELECT *
FROM CANTIDAD_VACACIONES
WHERE [CONTEO SOLICITUD VACACIONES] > 1;
```

### Result
<img src="./images/SQLTest_part6.png" alt="" />

## Part 7: Compute average salary of all employees

### Executed query
```sql
SELECT AVG(SALARIO) [SALARIO PROMEDIO] FROM EMPLEADO;
```

### Result
<img src="./images/SQLTest_part7.png" alt="" />

## Part 8: Compute the average CANTIDAD_DIAS per EMPLEADO

### Executed query
```sql
SELECT DISTINCT e.NOMBRE, e.APELLIDO, AVG(CAST(v.CANTIDAD_DIAS AS NUMERIC)) [DIAS PROMEDIO VACACIONES]
  FROM VACACIONES v LEFT JOIN EMPLEADO e
  ON v.ID_EMP = e.ID
  GROUP BY e.NOMBRE, e.APELLIDO;
```

### Result
<img src="./images/SQLTest_part8.png" alt="" />

## Part 9: Employee who has requested the most vacation days.
Displays name, surname, and total number of days requested.

### Executed query
```sql
SELECT TOP 1 e.NOMBRE, e.APELLIDO, SUM(v.CANTIDAD_DIAS) [DIAS TOTALES VACACIONES]
  FROM VACACIONES v LEFT JOIN EMPLEADO e
  ON v.ID_EMP = e.ID
  GROUP BY e.NOMBRE, e.APELLIDO
  ORDER BY [DIAS TOTALES VACACIONES] DESC;
```

### Result
<img src="./images/SQLTest_part9.png" alt="" />