# SQL Challenge

For this challenge I used [http://www.sqlfiddle.com/](http://www.sqlfiddle.com/) using the MS SQL version.

The SQL version that can be run on `sqlfiddle` is on [SQLTest.sql](./SQLTest.sql) on this same folder.



## Part 1: Table creation and data insert
To insert the data I ran the following SQL queries:
```sql
CREATE TABLE EMPLEADO (
ID INT,
NOMBRE VARCHAR(50),
APELLIDO VARCHAR(59),
SEXO CHAR(1),
FECHA_NACIMIENTO DATE,
SALARIO DECIMAL(10,2)
);

CREATE TABLE VACACIONES(
ID INT,
ID_EMP INT,
FECHA_INICIO DATE,
FECHA_FIN DATE,
ESTADO CHAR(1),
CANTIDAD_DIAS INT
);

/*EN ESTA TABLA SE ALMACENA LA INFORMACIÃ“N BASICA DE LOS
EMPLEADOS*/
INSERT INTO EMPLEADO VALUES (1,'JUAN','PELAEZ','M','1985-01-29',3500000);
INSERT INTO EMPLEADO VALUES
(2,'ANDRES','GARCIA','M','1975-05-22',5500000);
INSERT INTO EMPLEADO VALUES (3,'LAURA','PEREZ','F','1991-09-10',2500000);
INSERT INTO EMPLEADO VALUES (4,'PEPE','MARTINEZ','M','1987-12-01',3800000);
INSERT INTO EMPLEADO VALUES (5,'MARGARITA','CORRALES','F','1990-07-02',4500000);

/*EN ESTA TABLA SE ALMACENA LAS SOLCITUDES DE VACACIONES DE CADA EMPLEADO*/
INSERT INTO VACACIONES VALUES
(1,1,'2019-07-01','2019-07-15','A',14);
INSERT INTO VACACIONES VALUES
(2,2,'2019-03-01','2019-03-15','R',14);
INSERT INTO VACACIONES VALUES
(3,2,'2019-04-01','2019-04-15','A',14);
INSERT INTO VACACIONES VALUES
(4,2,'2019-08-14','2019-08-20','A',6);
INSERT INTO VACACIONES VALUES
(5,3,'2019-08-20','2019-08-25','A',5);
INSERT INTO VACACIONES VALUES
(6,3,'2019-12-20','2019-12-31','A',11);
```

## Part 2: